#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: fixed;
  bottom: 0;
  left: 0;
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 37px
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.headline {
  font-size: 120px;
  line-height: 120px;
  text-align: left;
  position: fixed;
  padding-right: 25%;
  top: 25px;
  left: 30px;
}

@media (max-width: 767px) {
  .headline {
    font-size: 60px;
    line-height: 60px;
    top: 25px;
    left: 30px;
  }
}